:root {
 
  --cor-primaria: #8b5cf6;      
  --cor-primaria-escura: #7c3aed; 
  --cor-secundaria: #f59e0b;    
  --cor-destaque: #facc15;    


  --cor-kit-bronze: #ef7d44;    
  --cor-kit-bronze-escuro: #ab5a18; 
  --cor-kit-prata: #a8a29e;
  --cor-kit-prata-escuro: #78716c;
  --cor-kit-ouro: #facc15;
  --cor-kit-ouro-escuro: #eab308;


  --cor-fundo: #f8f7ff;  
  --cor-surface: #ffffff;   


  --cor-texto-principal: #1f2937;
  --cor-texto-secundario: #6b7280;
  --cor-texto-invertido: #ffffff;


  --cor-sucesso: #22c55e;
  --cor-sucesso-escuro: #16a34a;
  --cor-erro: #ef4444;
  --cor-erro-escuro: #dc2626;
  --cor-aviso: #eab308;
}

